.authentication-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  width: 400px;
}

.form,
.card-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.text-field input {
  color: var(--color-text);
}

.authentication-button {
  text-transform: none !important;
  color: var(--color-dark);
  transition: color 0.3s ease-in-out;
}
.authentication-button:disabled {
  color: var(--color-text) !important;
  opacity: 0.6;
}

.authentication-button.loading {
  color: transparent !important;
}

.authentication-button.loading span {
  color: var(--color-text) !important;
}
