.speed-dial-action {
  background-color: var(--color-background-110) !important;
  color: var(--color-text) !important;
}
.speed-dial-action:hover {
  background-color: var(--color-background-110) !important;
  color: var(--color-primary) !important;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  padding-top: 0;
  width: 100%;
}

.owner {
  display: flex;
  justify-content: center;
}

.employeesList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.deleted {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}
