:root {
  --color-primary-80: hsl(46, 91%, 29%);
  --color-primary: #f0b90b;
  --color-primary-120: hsl(46, 91%, 69%);

  --color-warning: #ff3c00;
  --color-warning-faded: #ff3c0033;

  --color-black-90: #4a4a4a;
  --color-black: #303030;
  --color-black-110: #171717;

  --color-white-90: #cccccc;
  --color-white: #e6e6e6;
  --color-white-110: #ffffff;

  --shadow-sm: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

.dark {
  --color-background-90: var(--color-black-90);
  --color-background: var(--color-black);
  --color-background-110: var(--color-black-110);

  --color-text-90: var(--color-white-90);
  --color-text: var(--color-white);
  --color-text-110: var(--color-white-110);
}

.light {
  --color-background-90: var(--color-white-90);
  --color-background: var(--color-white);
  --color-background-110: var(--color-white-110);

  --color-text-90: var(--color-black-90);
  --color-text: var(--color-black);
  --color-text-110: var(--color-black-110);
}
