.speed-dial-action {
  background-color: var(--color-background-110) !important;
  color: var(--color-text) !important;
}
.speed-dial-action:hover {
  background-color: var(--color-background-110) !important;
  color: var(--color-primary) !important;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}
