.map {
  height: calc(100vh - 4rem);
  margin-top: -2rem;
}

.hive-data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  overflow-x: hidden;
}

.graph {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.date-picker {
  margin-left: 62px;
}

.latest-data {
  padding: 1rem;
  background-color: var(--color-background-110);
}

.latest-data-list {
  display: grid;
  grid-template-columns: 1fr 11fr;
  align-items: center;
  justify-items: start;
  gap: 0.5rem;
}

.latest-data-list span {
  color: var(--color-text);
}

.icons {
  fill: var(--color-primary) !important;
}

.icons * {
  opacity: 1;
}

.beeHives {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 100%;
  overflow: auto;
}
